<div class="game">
  <div class="player-info">
    <div class="player">
      <div class="player-image">Image</div>
      <p>Player</p>
    </div>
    <div class="timer">
      Timer
    </div>
  </div>

  <div class="board" data-controller="drag">
    <% game.state.each_with_index do |row, row_index| %>
      <div class='row'>
        <% row.each_with_index do |cell, cell_index| %>
        <div class="cell <%= cell %>" id="<%= "#{cell}-#{game.id}-#{cell_index}-#{row_index}"%>" draggable="true" data-action="dragstart->drag#dragStart dragover->drag#dragOver dragenter->drag#dragEnter drop->drag#dragDrop dragend->drag#dragEnd dragleave->drag#dragLeave">
          <%= cell %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="player-info">
    <div class="player">
      <div class="player-image">Image</div>
      <p>Player</p>
    </div>
    <div class="timer">
      Timer
    </div>
  </div>
</div>

<div class="information">
  <div class="information-div">
    <h1>Game #<%= game.id %> <%= game.status %></h1>
    <p>Players: <%= game.players %></p>
    <p>Turn: <%= game.turn % 2 == 0 ? "White" : "Black" %></p>
    <p>Time: <%= game.time %></p>
  </div>

  <% moves = get_moves(game) %>

  <div class="information-div">
    <p>Moves:</p>
      <div id="moves">
      <% if moves %>
          <table>
            <thead>
              <tr>
                <th>Movement</th>
                <th>Piece</th>
                <th>From</th>
                <th>To</th>
                <th>Target</th>
              </tr>
            </thead>
            <% moves.each_with_index do |move, index| %>
            <tbody>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= image_tag(move[1] + ".png", class: "movement-image") %></td>
                <td><%= move[0][0] + move[0][1] %></td>
                <td><%= move[0][2] + move[0][3] %></td>
                <% if !move[2].empty? %>
                  <td><%= image_tag(move[2] + ".png", class: "movement-image") %></td>
                <% else %>
                  <td>-</td>
                <% end %>
              </tr>
            </tbody>
            <% end %>
          </table>
      <% end %>
    </div>
  </div>

  <div class="information-div"  >
    <p>Theme: <%= game.theme %></p>
    <p>Mode: <%= game.mode %></p>
    <p>Status: <%= game.status %></p>
    <%= link_to "Surrender", games_path, class: "button2" %>
  </div>
</div>
