<header>
  <nav>
    <ul>
      <li><%= link_to "MyLogo", root_path %></li>
      <li><%= link_to "Play", games_path %></li>
      <li><%= link_to "New game", new_game_path %></li>
      <li><%= link_to "Social", new_game_path %></li>
    </ul>

    <ul>
      <li><%= link_to "Option 1", root_path %></li>
      <li><%= link_to "Option 2", root_path %></li>
      <li><%= link_to "Option 3", root_path %></li>
    </ul>
  </nav>
</header>
