<header>
  <nav>
    <ul>
      <li><%= link_to "MyLogo", root_path %></li>
      <li><%= link_to "Play", games_path %></li>
      <li><%= link_to "New game", new_game_path %></li>
      <li><%= link_to "Games", games_path %></li>
      <li><%= link_to "Social", new_game_path %></li>
    </ul>
  </nav>

  <ul>
    <li>Option 1</li>
    <li>Option 2</li>
    <li>Option 3</li>
  </ul>
</header>
